.myButton {
    background: #C28713;
    border-radius: 8px;
    color: white;
    font-family: 'Poppins';
    padding: 5px 45px;

    transition: 0.1s;
}

.myButton:hover {
    border: 2px solid #C28713;
    background: none;
}